<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- for Bootstrap -->
	<title>Trivia</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="inc/trivia.css">
	<script src="inc/angular.js"></script>
</head>
<body>
	<div class="container" ng-app="triviaApp" ng-controller="triviaController">
		<div id="splash" ng-hide="start" ng-click="startTrivia()">
			<img src="inc/img/bible-trivia.png">
			<h2>Click to begin!</h2>
		</div>
		<div id="kewl-trivia" ng-show="start">
			<div class="row">
				<section class="col-xs-12 question">
					<h3>Score: {{score}}</h3>
					<table>
						<thead><tr><th>{{question.title}}<br>Reference: {{question.reference}}</th></tr></thead>
						<tbody>
							<tr ng-repeat="choice in question.choices">
								<td ng-click="clickChoice($event)" class="thisChoice" data-question="{{question.id}}" data-choice="{{choice}}">
									{{choice}}
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>
			<div>
				<h3>{{displayText}}</h3>
				<!-- Back button doesn't work yet
				<button class="btn btn-primary" ng-click="goBack()">Go back</button>
				-->
			</div>
			<div class="row">
				<section class="col-xs-12 form-inline" ng-hide="true">
					<label>Question No. </label><select ng-model="questionChose" class="form-control" ng-options="singleQuestion.id for singleQuestion in availableQuestions" ng-change="chooseQuestion()"></select>
				</section>
			</div>
		</div>
	</div>
	<script src="inc/trivia.js"></script>
</body>
</html>
